.header-container{
    width: 100%;
}
.banner{
    height: 40px;
    background-image: linear-gradient(180deg, rgba(0,189,242,1),rgba(0,179,240,1),rgba(0,102,179,1),rgba(0,71,133,1));
}
.banner-label{
    font: 20px Arial;
    color: white;
    padding-left: 20px;
    text-align: left;
}
.sub-header{
    background-image: linear-gradient(180deg, rgba(0,189,242,1),rgba(0,179,240,1));
    height: 25px;
}