<div class="footer">
    <div class="first">
        <div class="left">
            <table class="table-left" cellspacing="1">
                <tr class="heading">
                    <td>About</td>
                    <td>Help</td>
                    <td>Social</td>
                </tr>
                <tr class="data">
                    <td>Contact Us</td>
                    <td>Payments</td>
                    <td>Facebook</td>
                </tr>
                <tr class="data">
                    <td>About Us</td>
                    <td>Shipping</td>
                    <td>Twitter</td>
                </tr>
                <tr class="data">
                    <td>Careers</td>
                    <td>Cancellation & Returns</td>
                    <td>YouTube</td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="second">

    </div>
</div>