<div class="footer">
    <div class="first">
        <div class="left">
            <table class="table-left" cellspacing="1">
                <tr class="heading">
                    <td>About</td>
                    <td>Help</td>
                    <td>Social</td>
                </tr>
                <tr class="data">
                    <td>Contact Us</td>
                    <td>Payments</td>
                    <td>Facebook</td>
                </tr>
                <tr class="data">
                    <td>About Us</td>
                    <td>Shipping</td>
                    <td>Twitter</td>
                </tr>
                <tr class="data">
                    <td>Careers</td>
                    <td>Cancellation & Returns</td>
                    <td>YouTube</td>
                </tr>
            </table>
        </div>
        <div class="right">
            <table class="table-right" cellspacing="1">
                <tr class="heading">
                    <td>Mail Us</td>
                    <td>Registered Office Address</td>
                </tr>
                <tr class="data">
                    <td>United Timber Industries,<br>Village Chota Bans,<br>Radaur 135133,<br>Haryana,India</td>
                    <td>United Timber Industries,<br>Village Chota Bans,<br>Radaur 135133,<br>Haryana,India<br>Telephone: <a href="tel:01732-283851">01732-283851</a></td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="second">
        <table>
            <tr>
                <td>© 2021 UnitedGroup.com</td>
                <td><img src="assets/images/payment_method.svg"></td>
            </tr>
        </table>
    </div>
</div>