.footer{
    // background-image: linear-gradient(180deg,rgba(0,102,179,1),rgba(0,71,133,1));
    background-color: #182434;
    padding: 15px 0px;
}
.first{
    display: flex;
}
.left{
    border-right: 1px solid #878787;
    padding-left: 5em;
    .heading{
        td{
            font: 14px Arial;
            color: #878787;
            padding: 0em 10em 0em 0em;
            line-height: 2;
        }
    }
    .data{
        td{
            font: 12px Arial;
            color: white;
            padding: 0px 140px 0px 0px;
            line-height: 2;
        }
    }
}
.right{
    padding-left: 5em;
    .heading{
        td{
            font: 14px Arial;
            color: #878787;
            line-height: 2;
            padding-right: 10em;
        }
    }
    .data{
        td{
            vertical-align: top;
            padding:none;
            font: 12px Arial;
            color: white;
            a{
                text-decoration: none;
            }
        }
    }
}
.second{
    td{
        font: 12px Arial;
        color: white;
        padding: 0px 0px 0px 28em
    }
}