/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.min.css';
@import './assets/styles/p-sidebar.scss';
@import './assets/styles/p-input.scss';
@import './assets/styles/p-password.scss';

body{
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.hyperlink{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.label{
    font: 14px Arial;
    justify-content: center;
    margin-bottom: 0px !important;
}