.ui-password{
    width: 300px;
    font-size: 14px !important;
    // box-shadow: none;
}
.ui-ui-password .p-component{
    border: none;
    border-bottom: 1px solid darkgray;
    border-radius: 0px;
    box-shadow: none;
}